.key {
    margin-right: 2px;
    composes: key from '../keys.css';
}

.disabled {
    --key-left-opacity: .25;
    composes: disabled from '../keys.css';
}

.keyLeft {
    opacity: var(--key-left-opacity, .25);

    &:focus,
    &:hover {
        --arrow-color: var(--key-background);
        background-color: var(--color-blue-darken-4);
    }

    &::before {
        border-top: 4px solid transparent;
        border-right: 4px solid var(--arrow-color);
        border-bottom: 4px solid transparent;
    }
}
