@charset 'utf-8';

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
button,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
main,
mark,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    font: inherit;
    font-size: 100%;
    outline: 0;
    border: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    block-size: 100%;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizespeed;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
}

body {
    min-block-size: 100%;
    overflow: hidden auto;
    line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
}

strong {
    font-weight: 700;
}

abbr[title] {
    cursor: help;
    text-decoration: underline dotted;
    text-decoration-skip-ink: none;
}

blockquote,
q {
    quotes: none;

    &::before,
    &::after {
        content: '';
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
}

:where(img, svg, video) {
    block-size: auto;
    max-inline-size: 100%;
}

:where(input, button, textarea, select),
:where(input[type = 'file'])::-webkit-file-upload-button {
    color: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
}

:where(ol, ul) {
    list-style: none;
    list-style-position: inside;
}

button,
[type = 'button'],
[type = 'reset'],
[type = 'submit'] {

    &:disabled {
        pointer-events: none;
    }

    &:not(:disabled) {
        cursor: pointer;
        touch-action: manipulation;
    }
}

textarea {
    resize: vertical;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 75%;
    line-height: 0;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

@media (prefers-reduced-motion: no-preference) {

    html:focus-within {
        scroll-behavior: smooth;
    }
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        transition-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
    }
}
