:root {
    --gap: 20px;
    --max-container-width: 1800px;
    --input-height: 50px;
    --transition-duration: .4s;
    --transition-timing: var(--ease-out-quart);
    --header-transition: all .8s var(--ease-out-expo) 1.4s;
    --header-transition-active: all .8s var(--ease-out-expo);
    --float-transition: transform 1.2s ease-out;
    --zindex-aside: 100;
    --zindex-footer: 105;
    --zindex-header: 110;
    --zindex-modal: 200;
    --zindex-loader: 210;
    --zindex-curtain: 990;
    --zindex-cursor: 1000;
    --border-radius: 4px;
}
