.control {
    width: 100%;
    max-width: 90ch;
    margin: 0 auto calc(3 * var(--gap));
}

.label {
    width: 100%;
    margin-bottom: var(--gap);
    padding-left: calc(1px + var(--gap));
    display: inline-flex;
    align-items: flex-end;
}

.labelDisabled {
    opacity: 0.5;
}

.wrapper {
    position: relative;
}

.input {
    width: 100%;
    min-height: calc(28px + (2 * var(--gap)));
    padding: var(--gap);
    background: var(--color-white);
    transition-property: border-color, box-shadow;
    transition-duration: var(--transition-out);
    transition-timing-function: var(--transition-timing);
    border-radius: var(--border-radius);
    border: 1px solid var(--input-border, var(--color-gray-lighten-3));

    &:focus {
        box-shadow: 0 0 0 4px var(--input-outline-color, rgba(219, 218, 231, 0.3));
    }

    &:focus,
    &:hover {
        transition-duration: var(--transition-in);
    }

    &:disabled {
        --input-border: var(--color-gray-lighten-2);
        opacity: 0.25;
        background: var(--color-gray-lighten-3);
        pointer-events: none;
    }

    &::placeholder {
        color: var(--color-gray-lighten-2);
    }
}

.success {
    --input-outline-color: rgba(137, 230, 210, 0.3);
    --input-border: var(--color-green-lighten-2);
}

.info {
    --input-outline-color: rgba(186, 186, 243, 0.3);
    --input-border: var(--color-blue-lighten-2);
}

.warning {
    --input-outline-color: rgba(255, 209, 92, 0.3);
    --input-border: var(--color-yellow);
}

.danger {
    --input-outline-color: rgba(255, 133, 147, 0.3);
    --input-border: var(--color-red-lighten-1);
}

.required {
    margin-left: calc(0.5 * var(--gap));
    align-self: flex-start;
    color: var(--color-red);
    font-size: 0.75rem;
}

.maxlength {
    position: absolute;
    top: 50%;
    right: calc(1px + var(--gap));
    color: var(--color-blue);
    font-size: 0.75em;
    transform: translateY(-50%);
}

.maxLengthDisabled {
    opacity: 0.25;
}

.error {
    max-width: 60%;
    margin-left: auto;
    display: inline-block;
    color: var(--color-red-lighten-1);
    font-size: 0.9em;
}
