.block {
    width: 100%;
    margin: auto;
    padding: var(--gap) 0;
    display: grid;
    grid-column-gap: calc(2 * var(--gap));

    @media (width >= 300px) {
        grid-template: auto / 1fr;
        grid-template-areas: 'preview';
    }

    @media (width >= 1200px) {
        grid-template: minmax(25vh, 50vh) / 1fr 1.5fr;
        grid-template-areas: 'description preview';
    }
}

.content {
    display: none;
    grid-area: description;

    @media (width >= 1200px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--navigation-color);
    }
}

.title,
.description {
    margin-bottom: var(--gap);
    position: relative;
    z-index: 0;
    opacity: 0;

    /* stylelint-disable a11y/content-property-no-static-value */
    &::before {
        position: absolute;
        top: 4px;
        left: 4px;
        z-index: -1;
        content: attr(data-title);
        color: var(--curtain-color);
        transform: translate(calc((var(--cursor-x) - 50vw) / 100), calc((var(--cursor-y) - 50vh) / 100));
        transition: var(--float-transition);
    }
    /* stylelint-enable a11y/content-property-no-static-value */
}

.title {
    font-size: 2rem;
}

.description {
    max-width: 100ch;
    font-size: 1.2rem;
}

.toolsWrapper {
    display: none;

    @media (width >= 1200px) {
        margin-top: auto;
        display: flex;
        opacity: 0;
    }
}
