{
  "presets": ["next/babel"],
  "env": {
    "production": {
      "plugins": [
        [
          "react-remove-properties",
          {
            "properties": ["data-test", "data-testid", "data-chromatic"]
          }
        ]
      ]
    },
    "test": {
      "plugins": ["transform-dynamic-import"]
    }
  }
}
