PORT=8000
WEBPACK_PORT=8001
PARCEL_PORT=8002
SNOWPACK_PORT=8003
BROWSERSYNC_PORT=8010
CYPRESS_PORT=8011
STORYBOOK_PORT=8020
SENDGRID_API_KEY
SENDGRID_TEMPLATE_ID
EMAIL_SENDER=no-reply@email.com
EMAIL_RECIPIENT=email@email.com
EMAIL_SUBJECT
SENTRY_DSN
SENTRY_AUTH_TOKEN
SENTRY_IGNORE_API_RESOLUTION_ERROR=1
NEXTAUTH_SECRET
NEXTAUTH_URL
DB_HOST
GRAPHCMS_PROJECT_API
GRAPHCMS_TOKEN
NEXT_PUBLIC_API=/api
