# Dependency directories
vendor
node_modules
bower_components
jspm_packages
.pnp
.pnp.js

# Build
dist/
build/

# Database
/db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Reports
hint-report

# Cache
.cache/
.sass-cache/
.next

# Node-waf configuration
.lock-wscript

# Compiled binary addons
build/Release

# Project files
.yarn-integrity
.npm
*.tgz
.eslintcache
.stylelintcache
.env*
behat.yml
localhost.json

# Test
coverage

# System files
.DS_Store
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
.fseventsd

# Editors
/.idea
modules.xml
*.ipr
*.iml
nbproject
*.sublime-project
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
.vscode

# Others
/doc
