# Dependency directories
vendor
node_modules
bower_components
jspm_packages
.pnp*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build
dist/
build/

# Database
/db

# Logs
logs
*.log*

# Runtime data
pids
*.pid*
*.seed

# Cache
.*cache/
.next

# Node-waf configuration
.lock-wscript

# Compiled binary addons
build/Release

# Project files
.yarn-integrity
.npm
*.tgz
.eslintcache
.stylelintcache
.env*
!.env.sample
!.env.local.sample
behat.yml
.sentryclirc
*.tsbuildinfo

# Test
coverage
cypress.env.json
/__test__/jest/coverage
/__test__/playwright/report
/__test__/playwright/results
/__test__/cypress/videos

# System files
.DS_Store
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
.fseventsd

# Editors
/.idea
modules.xml
*.ipr
*.iml
nbproject
*.sublime-project
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
.vscode

# Others
/doc
playground*.*
