{
  "printWidth": 160,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.json", "*.yml", "*.*rc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
