{
  "extends": "stylelint-config-recommended",
  "plugins": ["stylelint-order", "stylelint-a11y", "stylelint-csstree-validator"],
  "rules": {
    "a11y/content-property-no-static-value": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/font-size-is-readable": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-obsolete-attribute": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-obsolete-element": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-outline-none": true,
    "a11y/no-spread-text": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-text-align-justify": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/selector-pseudo-class-focus": true,
    "alpha-value-notation": "number",
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["blockless-after-same-name-blockless"],
        "ignore": ["after-comment"],
        "ignoreAtRules": ["font-face", "mixin", "include", "extend", "tailwind", "apply", "layer"]
      }
    ],
    "at-rule-no-vendor-prefix": true,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["import-normalize", "mixin", "include", "extend", "tailwind", "apply", "layer"]
      }
    ],
    "color-hex-length": "short",
    "color-named": "never",
    "comment-whitespace-inside": "always",
    "custom-property-empty-line-before": "never",
    "declaration-block-no-redundant-longhand-properties": true,
    "declaration-block-single-line-max-declarations": 1,
    "declaration-empty-line-before": "never",
    "font-family-name-quotes": "always-where-required",
    "font-weight-notation": "numeric",
    "function-name-case": "lower",
    "function-url-no-scheme-relative": true,
    "function-url-quotes": "always",
    "hue-degree-notation": "number",
    "import-notation": "string",
    "keyframe-selector-notation": "percentage",
    "length-zero-no-unit": [
      true,
      {
        "ignore": ["custom-properties"]
      }
    ],
    "max-nesting-depth": 4,
    "media-feature-name-no-unknown": [
      true,
      {
        "ignoreMediaFeatureNames": ["prefers-reduced-motion"]
      }
    ],
    "media-feature-name-no-vendor-prefix": true,
    "media-feature-range-notation": "context",
    "no-descending-specificity": null,
    "no-invalid-position-at-import-rule": true,
    "no-unknown-animations": [
      true,
      {
        "severity": "warning"
      }
    ],
    "number-max-precision": 3,
    "property-no-vendor-prefix": true,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["composes"]
      }
    ],
    "order/order": [
      "custom-properties",
      "declarations",
      {
        "type": "rule",
        "selector": "^@apply[\\w-]+"
      },
      {
        "type": "rule",
        "selector": "^&:[\\w-]+"
      },
      {
        "type": "rule",
        "selector": "^&::[\\w-]+"
      },
      {
        "type": "rule",
        "selector": "^&.-[\\w-]+"
      },
      {
        "type": "rule",
        "selector": "^&\\["
      },
      {
        "type": "rule",
        "selector": "^&__[\\w-]+"
      },
      {
        "type": "rule",
        "selector": "^[>|+|~] .[\\w-]+"
      },
      {
        "type": "rule",
        "selector": "^.[\\w-]+ &"
      },
      "rules",
      "at-rules"
    ],
    "order/properties-order": [
      "width",
      "min-width",
      "max-width",
      "column-width",
      "flex-basis",
      "height",
      "min-height",
      "max-height",
      "block-size",
      "min-block-size",
      "min-inline-size",
      "max-block-size",
      "max-inline-size",
      "margin",
      "margin-block",
      "margin-block-start",
      "margin-block-end",
      "margin-inline",
      "margin-inline-start",
      "margin-inline-end",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-block",
      "padding-block-start",
      "padding-block-end",
      "padding-inline",
      "padding-inline-start",
      "padding-inline-end",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "box-sizing",
      "gap",
      "row-gap",
      "column-gap",
      "column-count",
      "display",
      "grid",
      "grid-template",
      "grid-template-rows",
      "grid-template-columns",
      "grid-template-areas",
      "grid-gap",
      "grid-area",
      "grid-row",
      "grid-row-start",
      "grid-row-end",
      "grid-row-gap",
      "grid-column",
      "grid-column-start",
      "grid-column-end",
      "grid-column-gap",
      "grid-auto-flow",
      "grid-auto-rows",
      "grid-auto-columns",
      "flex",
      "flex-flow",
      "flex-grow",
      "flex-shrink",
      "flex-wrap",
      "flex-direction",
      "justify-content",
      "align-content",
      "align-items",
      "align-self",
      "order",
      "vertical-align",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "content",
      "object-fit",
      "float",
      "clear",
      "opacity",
      "visibility",
      "appearance",
      "overflow",
      "overflow-x",
      "overflow-y",
      "overflow-wrap",
      "table-layout",
      "border-collapse",
      "empty-cells",
      "cursor",
      "scroll-behavior",
      "touch-action",
      "background",
      "background-color",
      "background-image",
      "background-repeat",
      "background-position",
      "background-size",
      "background-attachment",
      "background-clip",
      "background-origin",
      "background-blend-mode",
      "mix-blend-mode",
      "mask",
      "mask-image",
      "mask-repeat",
      "mask-position",
      "mask-size",
      "mask-clip",
      "mask-origin",
      "mask-mode",
      "mask-composite",
      "mask-border",
      "color",
      "font",
      "font-family",
      "font-size",
      "line-height",
      "font-weight",
      "text-align",
      "font-variant",
      "font-style",
      "font-display",
      "letter-spacing",
      "text-decoration",
      "text-indent",
      "text-transform",
      "text-overflow",
      "text-shadow",
      "white-space",
      "word-wrap",
      "word-break",
      "word-spacing",
      "list-style",
      "list-style-type",
      "list-style-position",
      "list-style-image",
      "filter",
      "transform",
      "transform-origin",
      "will-change",
      "transition",
      "transition-property",
      "transition-duration",
      "transition-timing-function",
      "transition-delay",
      "animation",
      "animation-name",
      "animation-duration",
      "animation-timing-function",
      "animation-delay",
      "animation-fill-mode",
      "animation-iteration-count",
      "animation-direction",
      "animation-play-state",
      "backface-visibility",
      "box-shadow",
      "pointer-events",
      "user-select",
      "caret-color",
      "resize",
      "outline",
      "outline-width",
      "outline-style",
      "outline-color",
      "border-radius",
      "border-top-right-radius",
      "border-bottom-right-radius",
      "border-bottom-left-radius",
      "border-top-left-radius",
      "border",
      "border-image",
      "border-image-source",
      "border-image-width",
      "border-image-slice",
      "border-image-outset",
      "border-image-repeat",
      "border-width",
      "border-style",
      "border-color",
      "border-top",
      "border-top-width",
      "border-top-style",
      "border-top-color",
      "border-right",
      "border-right-width",
      "border-right-style",
      "border-right-color",
      "border-bottom",
      "border-bottom-width",
      "border-bottom-style",
      "border-bottom-color",
      "border-left",
      "border-left-width",
      "border-left-style",
      "border-left-color"
    ],
    "selector-attribute-quotes": "always",
    "selector-max-class": 3,
    "selector-max-compound-selectors": 5,
    "selector-max-id": 1,
    "selector-max-type": 2,
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": ["attribute"]
      }
    ],
    "selector-no-vendor-prefix": true,
    "selector-not-notation": "complex",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "local"]
      }
    ],
    "selector-pseudo-element-colon-notation": "double",
    "selector-type-case": "lower",
    "shorthand-property-no-redundant-values": true,
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true
  }
}
