.root {
    --section-background: hsl(var(--color-orange-lighten-5));
    --selection-background: hsl(var(--color-orange));
    --curtain-color: hsl(var(--color-orange-lighten-4));
    --content-heading: hsl(var(--color-orange));
    --content-heading-admit: hsl(var(--color-orange-lighten-1));
    --key-background: hsl(var(--color-orange-lighten-3));
}
