.root {
    --section-background: var(--color-red-lighten-5);
    --selection-background: var(--color-red);
    --curtain-color: var(--color-red-lighten-4);
    --content-heading: var(--color-red);
    --content-heading-admit: var(--color-red-lighten-1);
    --key-background: var(--color-red-lighten-3);
}

.animation {
    width: auto;
    max-width: 600px;
    max-height: 100%;
    margin: auto;
}
