.alert {
    width: 75vw;
    max-width: 600px;
    min-height: 40px;
    padding: calc(0.5 * var(--gap)) calc(var(--gap) + 20px) calc(0.5 * var(--gap)) var(--gap);
    position: fixed;
    top: 2vw;
    right: 5vw;
    z-index: var(--zindex-modal);
    overflow: hidden;
    background: var(--alert-background, hsl(var(--color-light-gray)));
    color: var(--alert-color, currentColor);
    box-shadow: 0 4px 12px hsla(var(--color-black), 0.15);
    border-radius: var(--border-radius);
}

.success {
    --alert-background: hsl(var(--color-green-lighten-1));
}

.info {
    --alert-background: hsl(var(--color-blue-lighten-1));
    --alert-color: hsl(var(--color-white));
}

.warning {
    --alert-background: hsl(var(--color-yellow-lighten-1));
}

.danger {
    --alert-background: hsl(var(--color-red-lighten-1));
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--zindex-modal) - 1);
    background: hsla(var(--color-black), 0.25);
}

.button {
    width: 40px;
    min-width: 0;
    height: 40px;
    min-height: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background: hsla(var(--color-white), 0.25);
    color: hsl(var(--color-black));
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 0 var(--border-radius) calc(var(--border-radius) / 2) 0;

    &:focus,
    &:hover {
        background: hsla(var(--color-white), 0.4);
        color: hsl(var(--color-dark-gray));
    }
}

.progress {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: hsla(var(--color-black), 0.33);
}
