.form {
    width: 75vw;
    max-width: 500px;
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: margin var(--transition-duration) var(--transition-timing);

    @media (--min-xs) {
        margin-bottom: calc(3 * var(--gutter));
    }

    @media (--min-md) {
        margin-bottom: calc(5 * var(--gutter));
    }
}

.error {
    color: var(--color-red);
}

.hidden {
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    opacity: 0;
    visibility: hidden;
    clip: rect(0 0 0 0);
}
