.form {
    width: 75vw;
    max-width: 500px;
    margin: calc(5 * var(--gutter)) auto 0;
}

.row {
    width: 100%;
    margin-bottom: calc(5 * var(--gutter));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.error {
    color: var(--color-red);
}

.hidden {
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    opacity: 0;
    visibility: hidden;
    clip: rect(0 0 0 0);
}
