.button {
    min-width: 150px;
    padding: var(--gutter);
    background-color: var(--color-blue-darken-4);
    color: var(--color-white);
    font-weight: bold;
    border-radius: var(--border-radius);
}
