.button {
    min-width: 150px;
    padding: var(--gutter);
    background-color: var(--color-blue-darken-4);
    color: var(--key-background);
    font-weight: bold;
    transition: background-color .4s var(--ease-out-quart), color .4s var(--ease-out-quart);
    border-radius: var(--border-radius);

    &:focus,
    &:hover {
        background-color: var(--key-background);
        color: var(--color-blue-darken-4);
    }
}
