.wrapper {
    overflow: hidden;
    background: #f7f7f7;
    line-height: 0;
    border-radius: 0 0 12px 12px;
}

.video {
    width: 100%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
