.aside {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--zindex-aside);
    background: var(--color-blue-lighten-4);
    transition: transform .6s var(--ease-out-expo);
    border-radius: var(--border-radius);
}

.active {
    transform: translateY(0);
}

.inactive {
    transform: translateY(-100%);
}
