.key {
    composes: key from '../keys.css';
}

.disabled {
    composes: disabled from '../keys.css';
}

.keyUp {
    margin: 0 auto;
    align-self: flex-start;
    opacity: var(--key-up-opacity, 1);

    &:focus,
    &:hover {
        --arrow-color: var(--key-background);
        background-color: var(--color-blue-darken-4);
    }

    &::before {
        border-right: 4px solid transparent;
        border-bottom: 4px solid var(--arrow-color);
        border-left: 4px solid transparent;
    }

    .disabled & {
        --key-up-opacity: .25;
    }
}
