.main {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template: max-content auto max-content / 100%;
    grid-template-areas: 'header'
        'section'
        'footer';
    position: relative;
    overflow: hidden;
    background: var(--section-background, var(--color-blue-lighten-5));
    border: calc(var(--gap) / 2) solid var(--color-white);

    noscript {
        margin: 0 auto;
        text-align: center;
    }

    @media (--min-sm) {
        border-width: var(--gap);
    }
}
