.main {
    --navigation-color: var(--color-blue-darken-4);
    --navigation-color-active: var(--color-blue-darken-3);
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template: max-content auto max-content / 100%;
    grid-template-areas: 'header'
        'section'
        'footer';
    position: relative;
    overflow: hidden;
    background: var(--section-background, var(--color-blue-lighten-5));
    border: var(--gap) solid var(--color-white);

    noscript {
        margin: 0 auto;
        text-align: center;
    }
}
