.tools {
    margin-top: var(--gap);
    padding: calc(0.5 * var(--gap));
    display: flex;
    align-self: flex-start;
}

.tool {
    display: inline-block;
    position: relative;

    &:focus,
    &:hover {

        .caption {
            opacity: 1;
            visibility: visible;
            transition: all var(--transition-duration) var(--ease-in-out-quad);
        }
    }

    + .tool {
        margin-left: var(--gap);
    }
}

.figure {
    min-width: 60px;
    text-align: center;
}

.caption {
    margin-top: var(--gap);
    position: absolute;
    top: 100%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    color: var(--color-gray);
    font-size: 0.9em;
    transform: translateX(-50%);
    transition: all 0.2s var(--ease-in-out-quad);
}

.image {
    width: 32px;
    height: 32px;
    opacity: 0.25;
    transition: opacity var(--transition-duration) var(--ease-in-out-expo);

    &:focus,
    &:hover {
        opacity: 0.5;
    }
}
