.root {
    --section-background: hsl(var(--color-green-lighten-5));
    --selection-background: hsl(var(--color-green));
    --curtain-color: hsl(var(--color-green-lighten-4));
    --content-heading: hsl(var(--color-green));
    --content-heading-admit: hsl(var(--color-green-lighten-1));
    --key-background: hsl(var(--color-green-lighten-3));
}

.article {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
