.heading {
    margin: 0;
    cursor: pointer;
    font-size: 16px;
}

.logo {
    width: auto;
    height: 100%;
    max-height: 60px;

    :global .logo_svg__st0 {
        fill: var(--color-dark-gray);
        stroke: var(--color-dark-gray);
        transition: var(--header-transition);
    }
}

.logoActive {

    :global .logo_svg__st0 {
        fill: var(--color-blue-darken-4);
        stroke: var(--color-blue-darken-4);
        transition: var(--header-transition-active);
    }
}
