@keyframes shadow-in {
    0% {
        border-bottom-color: transparent;
    }
    100% {
        border-bottom-color: var(--curtain-color);
    }
}

@keyframes shadow-out {
    0% {
        border-bottom-color: transparent;
    }
    100% {
        border-bottom-color: var(--color-blue-lighten-3);
    }
}

.link {
    text-decoration: none;

    &:focus {
        outline: 2px dashed var(--navigation-color);
    }

    &[disabled] {
        pointer-events: none;
    }
}

.heading {
    margin: 0;
    position: relative;
    font-size: 1em;
}

.logo {
    width: auto;
    height: 100%;
    max-height: 30px;
    transition: max-height var(--transition-duration) var(--transition-timing);

    &.active {
        --navigation-color: var(--navigation-color-active);
    }

    :global .logo_svg__st0 {
        fill: var(--navigation-color, var(--color-blue-darken-3));
        stroke: var(--navigation-color, var(--color-blue-darken-3));
        transition: var(--header-transition);
    }

    @media (--min-sm) {
        max-height: 40px;
    }

    @media (--min-md) {
        max-height: 50px;
    }

    @media (--min-lg) {
        max-height: 60px;
    }
}

.active {

    :global .logo_svg__st0 {
        transition: var(--header-transition-active);
    }
}

@media (prefers-reduced-motion: no-preference) {

    .shadow {
        --velocity: 100;
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 27.5%);
        z-index: -1;
        opacity: .75;
        transform: translate3d(calc((-1 * var(--float-x) + 50vw) / var(--velocity)), calc((-1 * var(--float-y) + 50vh) / var(--velocity)), 0);
        transition: var(--float-transition);
        animation: shadow-in 2s var(--ease-out-quart) 1.2s forwards;
        border-radius: var(--border-radius);
        border-right: 20px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 20px solid transparent;

        @media (--min-md) {
            top: calc(50% - 25px);
            left: calc(50% - 12.5%);
            border-right: 25px solid transparent;
            border-bottom: 40px solid transparent;
            border-left: 25px solid transparent;
        }
    }

    .shadowActive {
        background: transparent;
        animation: shadow-out 2s var(--ease-out-quart) 1s forwards;
    }
}
