@import '../assets/styles/reset.css';
@import '../assets/styles/colors.css';
@import '../assets/styles/variables.css';
@import '../assets/styles/easing.css';
@import '../assets/styles/transition.css';
@import '../assets/styles/helpers.css';

html {
    height: 100%;
}

body {
    --section-gutter: calc(2 * var(--gutter));
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: 'Titillium Web', Ubuntu, Tahoma, Nimbus Sans L, Free Sans, sans-serif;
    font-size: var(--font-size, 13px);
    line-height: 1.4;
    font-weight: 400;
    transition: font-size var(--transition-duration) var(--transition-timing);

    &,
    * {
        cursor: none;
    }

    @media (--min-md) {
        --font-size: 14px;
        --section-gutter: calc(4 * var(--gutter));
        overflow-y: hidden;
    }

    @media (--min-lg) {
        --font-size: 15px;
    }

    @media (--min-xl) {
        --font-size: 16px;
    }
}

strong {
    font-weight: 700;
}

code,
kbd,
samp {
    font-family: 'Roboto Mono', monospace;
}
