@import '../assets/styles/reset.css';
@import '../assets/styles/normalize.css';
@import '../assets//styles/variables.css';

html {
    height: 100%;
}

body {
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: Ubuntu, Tahoma, Nimbus Sans L, Free Sans, sans-serif;
    font-size: var(--font-size, 13px);
    line-height: 1.4;
    font-weight: 400;
}

.default {
    width: 100%;
    min-height: 100vh;
}
