@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.opened {
    padding-right: 1em;
    overflow: hidden;
}

.opened :global .main {
    filter: blur(4px);
    transition: filter .4s ease-in-out;
}

.default {
    min-width: 40vw;
    max-width: var(--max-container);
    margin-bottom: 40px;
    padding: calc(2 * var(--gutter));
    position: absolute;
    top: 25vh;
    left: 50%;
    opacity: 0;
    background-color: rgba(255, 255, 255, .8);
    background-clip: padding-box;
    text-align: center;
    transform: translateX(-50%);
    animation: fade-in .4s ease-in-out forwards;
    box-shadow: 0 .3px 2.2px rgba(0, 0, 0, .02), 0 .8px 5.3px rgba(0, 0, 0, .028), 0 1.5px 10px rgba(0, 0, 0, .035), 0 2.7px 17.9px rgba(0, 0, 0, .042), 0 5px 33.4px rgba(0, 0, 0, .05), 0 12px 80px rgba(0, 0, 0, .07);
    border-radius: var(--border-radius);
    border: 10px solid rgba(255, 255, 255, .1);
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--zindex-modal);
    opacity: 0;
    overflow-y: auto;
    background-color: rgba(250, 250, 250, .25);
    animation: fade-in .4s ease-in-out forwards;
}

.close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -60px;
    left: 50%;
    color: var(--navigation-color);
    font-size: 40px;
    line-height: 1;
    transform: translateX(-50%);
}
