.header {
    width: 100%;
    padding: var(--gap) calc(2 * var(--gap));
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: var(--zindex-header);
}

.link {
    position: relative;
    text-decoration: none;
}

.disabled {
    pointer-events: none;
}
