.key {
    composes: key from '../keys.css';
}

.disabled {
    composes: disabled from '../keys.css';
}

.keyDown {
    opacity: var(--key-down-opacity, 1);

    &:focus,
    &:hover {
        --arrow-color: var(--key-background);
        background-color: var(--color-blue-darken-4);
    }

    &::before {
        border-top: 4px solid var(--arrow-color);
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

    .disabled & {
        --key-down-opacity: .25;
    }
}
