.input,
.label {
    width: 100%;
    padding: 20px 0;
}

.input {
    height: 60px;
    color: var(--color-blue-darken-4);
    font-size: 2em;
    line-height: 60px;
}

.label {
    font-size: 1.25em;
    text-align: left;
}
