.row {
    composes: row from '../form.css';
}

.input,
.label {
    --label-color: var(--color-blue-lighten-2);
    width: 100%;
    padding: 20px 0;
}

.input {
    height: var(--input-height);
    padding-right: var(--input-height);
    overflow: hidden;
    color: var(--color-blue-darken-4);
    font-size: 2em;
    line-height: var(--input-height);

    &:focus {

        + .label {

            &::after {
                background: var(--label-color);
                transform: scale3d(1, .25, 1);
            }

            .content {
                color: var(--label-color);
                transform: translate3d(0, 3em, 0) scale3d(.655, .655, 1);
            }
        }
    }
}

.value {

    + .label {

        &::after {
            background: var(--label-color);
            transform: scale3d(1, .25, 1);
        }

        .content {
            color: var(--label-color);
            transform: translate3d(0, 3em, 0) scale3d(.655, .655, 1);
        }
    }
}

.error {
    --label-color: var(--color-red-lighten-1);
}

.label {
    position: absolute;
    top: calc(100% - var(--input-height));
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;

    &::after {
        width: 100%;
        height: 4px;
        position: absolute;
        top: 100%;
        left: 0;
        content: '';
        background-color: var(--color-blue-darken-4);
        transform-origin: 50% 100%;
        transition: transform .4s var(--ease-out-quart), background-color .4s var(--ease-out-quart);
    }
}

.content {
    display: inline-block;
    color: var(--color-blue-darken-4);
    transform-origin: 0 0;
    transition: transform .4s var(--ease-out-quart), color .4s var(--ease-out-quart);
}

.counter {
    height: var(--input-height);
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-light-gray);
    line-height: var(--input-height);
    text-align: right;
}

.edited {
    color: var(--color-blue-lighten-2);
}
