.section {
    width: 100%;
    padding: 0 calc(2 * var(--gap));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-radius);

    a {
        color: var(--content-heading);
    }
}
