.footer {
    width: 100%;
    padding: calc(2 * var(--gutter)) calc(2 * var(--gutter)) var(--gutter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: var(--zindex-header);
    color: var(--navigation-color);

    &::before,
    &::after {
        position: absolute;
        bottom: 0;
        content: '';
        background: var(--curtain-color);
        border-top-left-radius: var(--border-radius);
    }

    &::before {
        width: 25%;
        height: 100%;
        right: 0;
        opacity: .5;
        border-bottom-right-radius: var(--border-radius);
    }

    &::after {
        width: 12.5%;
        height: 75%;
        right: 25%;
        opacity: .25;
    }
}

.code {
    padding-left: 30px;
    align-self: flex-end;
    position: relative;
    left: -10px;
    opacity: .75;
    font-size: .8em;
    transform: rotate(-90deg);
    transform-origin: left center;

    &::before {
        width: 20px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        background: currentColor;
        transform: translateY(-50%);
    }
}

.scroll {
    margin-right: calc(4 * var(--gutter));
    padding-bottom: calc(5 * var(--gutter));
    position: relative;
    font-size: 1.2em;
    letter-spacing: 1.5px;

    &::before {
        width: 1px;
        height: 100%;
        position: absolute;
        top: calc(2 * var(--gutter));
        left: 50%;
        content: '';
        background: currentColor;
        transform: translateX(-50%);
    }

    &::after {
        width: 4px;
        height: 4px;
        position: absolute;
        top: calc(2 * var(--gutter));
        right: calc(50% - 12px);
        content: '';
        background: var(--color-red);
        border-radius: 50%;
    }
}
