@import '../src/assets/styles/base/reset.css';
@import '../src/assets/styles/variables/colors.css';
@import '../src/assets/styles/variables/easing.css';
@import '../src/assets/styles/variables/variables.css';
@import './fonts.css';
@import '../src/assets/styles/utilities/helpers.css';

html {
    height: 100%;
}

body {
    --navigation-color: var(--color-blue-darken-4);
    --navigation-color-active: var(--color-blue-darken-3);
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: 'Titillium Web', Ubuntu, Tahoma, Nimbus Sans L, Free Sans, sans-serif;
    font-size: var(--font-size, 13px);
    line-height: 1.4;
    font-weight: 400;
    transition: font-size var(--transition-duration) var(--transition-timing);

    &,
    * {
        cursor: crosshair;
    }

    @media (--min-md) {
        --font-size: 14px;
        overflow-y: hidden;
    }

    @media (--min-lg) {
        --font-size: 15px;
    }

    @media (--min-xl) {
        --font-size: 16px;
    }
}

strong {
    font-weight: 700;
}

code,
kbd,
samp {
    font-family: 'Roboto Mono', monospace;
}

::selection {
    background: var(--selection-background, --color-blue-darken-4);
    color: var(--color-white);
}

:global .animated-block {
    opacity: 0;
}
