@keyframes background-before {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes background-after {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.default {
    width: 100vw;
    min-height: 100vh;
    padding: calc(2 * var(--gutter));
    display: flex;
    justify-content: center;
    position: relative;

    &::before,
    &::after {
        --background: linear-gradient(123deg, var(--color-gradient-1) 0%, var(--color-gradient-2) 40%, var(--color-gradient-3) calc(40% + 1px), var(--color-gradient-4) 60%, var(--color-gradient-5) calc(60% + 1px), var(--color-gradient-6) 70%, var(--color-gradient-7) calc(70% + 1px), var(--color-gradient-8) 100%);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: '';
    }

    &::before {
        --color-gradient-1: var(--color-blue-lighten-5);
        --color-gradient-2: var(--color-blue-lighten-4);
        --color-gradient-3: var(--color-blue-lighten-3);
        --color-gradient-4: var(--color-blue-lighten-3);
        --color-gradient-5: var(--color-blue-lighten-1);
        --color-gradient-6: var(--color-blue-lighten-1);
        --color-gradient-7: var(--color-blue);
        --color-gradient-8: var(--color-blue-lighten-1);
        background: var(--background);
        animation: background-before 30s ease-in-out infinite;
    }

    &::after {
        --color-gradient-1: var(--color-green-lighten-5);
        --color-gradient-2: var(--color-green-lighten-4);
        --color-gradient-3: var(--color-green-lighten-3);
        --color-gradient-4: var(--color-green-lighten-3);
        --color-gradient-5: var(--color-green-lighten-1);
        --color-gradient-6: var(--color-green-lighten-1);
        --color-gradient-7: var(--color-green);
        --color-gradient-8: var(--color-green-lighten-1);
        background: var(--background);
        animation: background-after 30s ease-in-out infinite;
    }
}

.section {
    width: 100%;
    max-width: var(--max-container-width);
    background: linear-gradient(123deg, var(--color-white) 94%, var(--color-yellow-lighten-1) calc(94% + 1px), var(--color-yellow) 97%, var(--color-orange-lighten-1) calc(97% + 1px), var(--color-orange) 100%);
    border-radius: calc(3 * var(--border-radius));
}
