.addressbar {
    width: 100%;
    height: 24px;
    padding-left: 32px;
    display: none;
    position: relative;
    background-color: var(--navigation-color);
    color: hsl(var(--color-white));
    font-size: 0.9em;
    line-height: 24px;
    border-radius: 6px;

    &::before {
        width: 18px;
        height: 18px;
        display: block;
        position: absolute;
        top: 3px;
        left: 4px;
        content: '';
        border-radius: var(--border-radius);
    }

    .link {
        width: 100%;
        display: block;
        color: hsl(var(--color-white));
        text-decoration: none;

        &:focus,
        &:hover {
            color: hsl(var(--color-green));
        }
    }

    @media (--min-sm) {
        margin-right: var(--gap);
        margin-left: var(--gap);
        display: flex;
    }

    @media (--min-md) {
        width: 50%;
    }
}

.http {

    &::before {
        background-color: hsl(var(--color-orange));
    }
}

.https {

    &::before {
        background-color: hsl(var(--color-green));
    }
}
