.addressbar {
    width: 100%;
    height: 24px;
    padding-left: 32px;
    position: relative;
    background-color: var(--navigation-color);
    color: var(--color-white);
    font-size: 0.9em;
    line-height: 24px;
    border-radius: 6px;

    &::before {
        width: 18px;
        height: 18px;
        display: block;
        position: absolute;
        top: 3px;
        left: 4px;
        content: '';
        border-radius: var(--border-radius);
    }

    a {
        color: var(--color-white);
        text-decoration: none;

        &:focus,
        &:hover {
            color: var(--color-green);
        }
    }

    @media (--min-sm) {
        width: 50%;
        margin-left: 24px;
    }
}

.http {

    &::before {
        background-color: var(--color-red);
    }
}

.https {

    &::before {
        background-color: var(--color-green);
    }
}

.target {
    margin-left: var(--gap);
    display: none;

    @media (--min-sm) {
        display: block;
    }
}

.targetLink {
    width: 24px;
    height: 24px;
    margin: 0 2px;
    display: inline-block;
    position: relative;
    background: var(--color-white);
    text-align: center;
    transition: all 0.2s ease-in-out;
    border-radius: var(--border-radius);
    border: 1px solid #f7f7f7;

    &:focus,
    &:hover {
        background: var(--color-green-lighten-5);
        transition: all var(--transition-duration) ease-in-out;
        border-color: var(--color-green-lighten-4);
    }

    svg {
        fill: var(--color-gray);
    }
}

.icon {
    max-width: 60%;
    height: 100%;
}
