:root {
    --color-blue-lighten-5: #ebf7fc;
    --color-blue-lighten-4: #c3e8f7;
    --color-blue-lighten-3: #9cd9f2;
    --color-blue-lighten-2: #74caed;
    --color-blue-lighten-1: #4dbbe8;
    --color-blue: #26ade4;
    --color-blue-darken-1: #208ebb;
    --color-blue-darken-2: #196f92;
    --color-blue-darken-3: #124f68;
    --color-blue-darken-4: #0b303f;
    --color-blue-darken-5: #041015;
    --color-green-lighten-5: #f4f9eb;
    --color-green-lighten-4: #deeec3;
    --color-green-lighten-3: #c8e49b;
    --color-green-lighten-2: #b3d974;
    --color-green-lighten-1: #9dce4c;
    --color-green: #88c425;
    --color-yellow-lighten-5: #fffde8;
    --color-yellow-lighten-4: #fff9bb;
    --color-yellow-lighten-3: #fff58e;
    --color-yellow-lighten-2: #fff161;
    --color-yellow-lighten-1: #ffed34;
    --color-yellow: #ffea08;
    --color-orange-lighten-5: #fff7e8;
    --color-orange-lighten-4: #ffe9bb;
    --color-orange-lighten-3: #ffdb8e;
    --color-orange-lighten-2: #ffcc61;
    --color-orange-lighten-1: #ffbe34;
    --color-orange: #ffb008;
    --color-red-lighten-5: #fdefec;
    --color-red-lighten-4: #facfc6;
    --color-red-lighten-3: #f7afa0;
    --color-red-lighten-2: #f4907a;
    --color-red-lighten-1: #f17054;
    --color-red: #ef512e;
    --color-purple: #6b3574;
    --color-white: #fff;
    --color-light-gray: #c9c9c9;
    --color-gray: #7a7a7a;
    --color-dark-gray: #515151;
    --color-brown: #805841;
    --color-black: #2d2d2d;
    --gutter: 1em;
    --max-container-width: 1800px;
    --zindex-aside: 100;
    --border-radius: 4px;
}
