:root {
    --gutter: 1em;
    --max-container-width: 1800px;
    --input-height: 60px;
    --zindex-aside: 100;
    --zindex-header: 110;
    --zindex-modal: 200;
    --zindex-cursor: 1000;
    --border-radius: 4px;
}
