.outerCursor,
.innerCursor {
    display: block;
    position: fixed;
    z-index: var(--zindex-cursor);
    pointer-events: none;
    border-radius: 50%;

    @media (any-hover: none) {
        display: none;
    }
}

.outerCursor {
    width: var(--cursor-width);
    height: var(--cursor-height);
    top: -15px;
    left: -15px;
    opacity: 0.8;
    color: var(--color-blue-darken-4);
    will-change: transform;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: var(--ease-out-quart);
    border-radius: var(--cursor-radius);
}

.innerCursor {
    width: 8px;
    height: 8px;
    top: -4px;
    left: -4px;
    background: var(--color-blue-darken-4);
    will-change: transform;
    transition: background var(--transition-duration) var(--transition-timing);
    border: 1px solid var(--color-white);
}

.innerCursorStuck {
    background: var(--color-red);
}
