.row {
    composes: row from '../form.css';
}

.textarea {
    composes: input from '../input/input.css';
    padding: 0 50px 0 0;
    resize: none;

    @media (--min-md) {
        padding-right: 70px;
    }
}

.value {
    composes: value from '../input/input.css';
}

.error {
    composes: error from '../input/input.css';
}

.label {
    composes: label from '../input/input.css';
}

.content {
    composes: content from '../input/input.css';
}

.counter {
    composes: counter from '../input/input.css';
}

.edited {
    composes: edited from '../input/input.css';
}
