.textarea {
    composes: input from '../input/input.css';
    padding: 0;
    resize: none;
}

.value {
    composes: value from '../input/input.css';
}

.error {
    composes: error from '../input/input.css';
}

.label {
    composes: label from '../input/input.css';
}

.content {
    composes: content from '../input/input.css';
}
